<div id="footer">
  <div class="container">
    <div class="row">
        <p>Deployed & maintained by Simon Fraser University - ITS</p>
        <p>Originally released by <a href="http://jsani.com">Johanns Gregorian</a> under MIT license.</p>
    </div>
  </div>
</div>